*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color:#accdff;
  font-family: Garamond;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
h1, h2, h3, p, a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: black;
  text-align: center;
  margin:auto;
}
/* div {

  color:#ffffff;
} */
/* img {
  margin-left: 20%;
  margin-right: 20%;
} */
p {
  margin-left: 20%;
  margin-right: 20%;
}
.s1 {
  margin-left: 10%;
  margin-right: 10%;
}

ul {
  margin-left: 10%;
  margin-right: 10%;
}

.s {
  text-align: left;
}